html {
    font-family: 'NimbusSans', Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-size: 15px;
    line-height: 23px;
    color: #3c3c3c;
}

html body {
    position: relative;
    background-color: #FAF7F7;
    text-align: left;
    margin: 0 0 30px;
}

a {
    color: #E6001E;
}

div {
    display: block;
}

hr {
    color: #dadada;
    display: block;
    height: 1px;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: #dadada;
    clear: both;
    border: 0 inset #dadada;
}

header{
    width: 100%;
}

header .service-bar {
    width: 100%
    display: table-cell;
    vertical-align: middle;
    position: relative;
    background-color: #c6c6c6;
    height: 40px;
    color: #3c3c3c;
    font-size: 13px;
}


header .service-bar-text {
    text-decoration: none;
    line-height: 40px;
}

#toolbar {
    position: relative;
}

header .top-bar{
    width: 1200px;
    margin: 0 auto;
    display: table;
    padding-left: 10px;
    padding-right: 10px;
}



header #toolbar {
    width: 100%;
    background-color: #fff;
    -webkit-box-shadow: 0 2px 1px 0 rgba(0,0,0,0.2);
    -moz-box-shadow: 0 2px 1px 0 rgba(0,0,0,0.2);
    box-shadow: 0 2px 1px 0 rgba(0,0,0,0.2);
    z-index: 999;
}

header #toolbar .toolbar-text {
    display: table-cell;
    vertical-align: middle;
    font-size: 40px;
    color: #E6001E;
    padding-top: 30px;
    padding-bottom: 30px;
}


main #wrapper {
    margin: 0 auto;
    margin-top: 20px;
    position: relative;
    text-align: left;
    width: 1200px;
}

main .productBox {
    background-color: #fff;
    padding: 30px;
    -webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0,0.2);
    -moz-box-shadow: 0 1px 3px 0 rgba(0,0,0,0.2);
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.2);
}


button{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid transparent;
    padding: 0.3em 1em;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    min-width: 40px;
    background-color: #E6001E;
    border-color: #E6001E;
    color: #fff;
    font-size: 14px;
    line-height: 20px;
}

button:hover{
    background-color: #fff;
    border-color: #E6001E;
    color: #E6001E;

}